<% include ../partials/header %>

<div class="ui segment">
  <div class="ui centered card">
    <div class="medium image">
      <img src="<%= entry.image %>">
    </div>
    <div class="content">
      <div class="header">
        <%= entry.title %>
        By <%= entry.author.username %>
      </div>
      <div class="text">
        <%= entry.text %>
      </div>
    </div>
    <% if (currentUser && entry.author.id.equals(currentUser._id)){ %>
    <div class="ui relaxed centered grid">
      <div class="row">
        <a class="ui inverted blue button" href="/journal/<%= entry._id %>/edit">
          Edit entry
        </a>
        <form class="deleteForm" action="/journal/<%= entry._id %>?_method=DELETE" method="POST">
          <button class="ui red centered button">Delete</button>
        </form>
      </div>
      <div class="row">
        <a class="ui small button" href="/journal">
          Back to index
        </a>
      </div>
      <div class="ui divider">
      </div>
    </div>
    <% } %>
  </div>
</div>

<% include ../partials/footer %>
